@tailwind base;
@tailwind components;
@tailwind utilities;

/* banner */
.nextra-banner-container {
  background: #202020 !important;
  color: #d4d2d0 !important;
}

.nextra-toc .nextra-scrollbar UL a {
  font-weight: 400 !important;
  font-size: 13.5px !important;
}

/* yt videos */
iframe {
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (min-width: 768px) {
  iframe {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
}